<% if flash[:error] %>
<div class="errors">
  <p><%= flash[:error] %></p>
</div>
<% end %>

<%= form_for @pretzel do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :flavor %>
  <%= f.text_field :flavor %>

  <%= f.label :price %>
  <%= f.number_field :price, :class => 'text_field', :step => 0.01 %>

  <%= f.submit %>
<% end %>
