<div>
    <% if flash[:error] %>
      <ul>
        <% flash[:error].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
</div>

<%= form_for @gift do |f| %>

  <%= f.number_field :rating, placeholder: "Rating" %>
  <%= f.collection_select :user_id, @users, :id, :username, prompt: true %>
  <%= f.collection_select :item_id, @items, :id, :name_with_price %> 
  <%= f.submit %>
<% end %>
